In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset,drop_first = True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
# standardisation
from sklearn.preprocessing import StandardScaler # procedure
sc = StandardScaler() # procedure
x_train =sc.fit_transform(x_train) # fit will do calculation ,transform will tranform data also
x_test =sc.transform(x_test) # here not required fit for x_test , what we used for fit x_train it will take

In [75]:
from sklearn.svm import SVR # procedure1
# kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’} or callable, default=’rbf’
# SVR(kernel="sigmoid",C=0.01) we can use C input to change parameter to get good result
regressor = SVR(kernel="sigmoid",C=500) # procedure2 , procedure1 & procedure2 only require to change for run other algorithm
regressor.fit(x_train,y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=500, kernel='sigmoid')

In [76]:
weight = regressor.coef_
weight

AttributeError: coef_ is only available when using a linear kernel

In [77]:
bais = regressor.intercept_
bais

array([10475.93771226])

In [78]:
y_pred = regressor.predict(x_test) # AI Brain giving output(predicting)
y_pred

array([10359.51699157,  8664.00508242, 15915.61513845, 16590.38434285,
        7315.80813099,  2459.68595308,  6594.05717648, 14212.58430654,
        6216.3528642 ,  8487.73662793,  2739.86554557, 10890.4448382 ,
        7743.76619402,  7183.66405769, 20536.58324729, 12586.95382511,
       14874.12729816,  2697.04127909,  7215.61342256, 17251.70381487,
       25033.17690005, 13827.20210625,  7236.17728997, 25526.96484902,
       -1489.67369277,  5108.45229637,  3887.69502572,  7732.96826234,
        7285.25352478,  7639.19581025,  7129.46041826, 19906.65635927,
       16803.33101484, 14347.02368941, 23704.03169559,  7349.59550909,
        8330.63242463, 16980.85737781, 23346.53172964,  6762.98248796,
        6095.25291523,  1010.61195506, 24791.85659534, 16924.78932846,
       16005.18620209,   650.67355333, 12538.08137999,  7467.81317969,
        4281.23963143, 11194.21991073,  6539.84367764, -2910.20274131,
       24725.098605  , 28325.39052758,  7577.10705074,  1638.52366941,
         699.22074721, 11147.7311059 , 10123.31200044, 12346.22206397,
       -3414.70297403, 16757.27607997,  6655.29065778,  7984.39829586,
        6178.0737302 ,  9632.52405415, 17162.79406737, 19943.71799195,
        -585.10076474,  8291.04397126,  8596.7998246 , 11703.03379944,
       18858.42209467,  7498.21258777,  9190.46560927,  8628.42097484,
        8281.91722449,  7538.6053231 , 25967.11697184, 21098.1699266 ,
        7982.47154954, 16592.98735783, -1782.98898982,  8366.28713217,
       19504.9695748 , 26848.0230579 ,  5803.36660296,  -107.90315683,
       12208.88516447, 17479.36611477,  4804.27062576, 13776.16310521,
        5857.34045778,  8947.52810997,  4376.42838326,  5512.64495824,
       26145.18149883, 21772.95663054,  3814.97309587, 15180.6140149 ,
       -1268.80494377,  5788.17622234,  2826.01543635, 19545.34985385,
       22971.75112005,  5895.61286864, 12598.390589  ,  6488.27075772,
       15242.88317303, 26183.88492226, 13149.43902492,  8351.44802926,
        8928.73785548, 16110.35287191, 19553.9797584 ,  7932.24655348,
         642.40404185, 11180.56078235, 12768.38595322,  8365.4717223 ,
       16554.48422425,  7560.12622968,  7888.13378743,  7909.2398586 ,
        8091.80291012,  1666.05348262, 28409.57373217, 27054.24973654,
       23637.60498522, -1113.98762174,  8647.27801167,   487.90882504,
        6665.96108829, 10582.40760207, 23724.54820303, 21224.58556181,
       26042.96592627, 10498.71649696, 30418.58915386,  1770.31246647,
        6916.65550638, 13538.96453304,  8526.69514727, 13559.37759459,
        5008.60979151,  7659.78111835, 11186.59384774,   218.46062448,
       -3800.53617289, 10864.51303789,  6782.70705611, 14266.74768144,
       10109.17549446,   350.5766499 ,  4102.37441161,  7120.50168452,
        1495.10503207,   348.36211307, 12581.1089856 , 11706.15897112,
        8483.71416515, 17124.89790232,  8954.71508518, 11315.13001442,
        5969.36239116, 10615.75741013, 22650.43293953,  2591.95065142,
        4146.91924516,  5853.7303869 ,  5850.09460287,  6489.8258187 ,
        8281.13192913,   -96.43340745,  8891.16877772, 10452.22022589,
        6464.44217015,  6101.37804426, 17836.38592666, -3946.84774198,
       12086.77862096,  8006.75401468, 14819.38151801,   772.8100764 ,
        7219.37924703, 28538.18963145, -1837.96817501,  3383.71178012,
        7972.60230569, 10946.93984513, 24528.38398811,  1789.62258903,
        6302.65980787, 27199.21643127,   292.99198648, -1457.97490355,
        7064.49920657,  4964.84466009,  6179.512354  ,  4148.70294648,
       10049.97518496, 26571.43098573, 13366.93013289, 27580.73218583,
        6150.912527  , 22225.90356774,  6180.99483932, 12821.7211442 ,
        5818.76831802,   363.35940721,  9263.21492464,  7928.84086855,
         718.80720977,  6769.64602098,  7184.52277285, -1641.29948008,
        8806.25214097,  5007.60702296, 17172.20412391,  3656.62110374,
        6070.309284  ,  5926.24055092,  7514.37727525,  6440.86831272,
        7217.25089231, 17469.53292625, 14171.2524004 ,  8835.68627047,
        9484.82317224, -1018.450392  , -3707.13639556,  9826.04275553,
        7044.89042289, -3733.99276319,  5134.97540659,  7179.77688133,
        9013.96241512, 18249.23938853,  6280.51958825, 11747.76691465,
        7503.19812322, 20474.53458382,  8323.95781249,  7757.59434294,
        7592.73948555, 10634.59623078,  5614.22630433,  7483.76513481,
        6095.80867514,  7012.54833887, 22628.73066109, 33528.94503575,
        2412.52887667,  5566.57064326,  6917.17908303, -4090.0806268 ,
        8470.66094115,  6226.21671123, 12125.29148839,  3969.63732438,
        9304.08675433, 28579.27841638, 26895.01790695, 16011.58709841,
        7186.75497311, 15530.80750146, 15719.91398279,  8590.560107  ,
       18819.40138363, -3039.69744818, 13703.22956419,  6338.71741877,
       11033.67747626,  1218.08907495, 18646.19647567,  5814.60523934,
       13043.85688381, 10086.65467415,   960.92855698, 11857.50805147,
        8504.15751402,  4619.93862642, 15696.16101104,  6933.61337628,
        6857.43104056,  8643.6166833 ,  8706.32688793, 27674.0482218 ,
        7118.76514595, -3973.56387377,  4814.16794608, 26799.93392992,
        9497.33033855,  5312.99671403, 13409.11921225, 10286.58298542,
       20174.48860525,  7211.39328961,  5358.82860903, 12189.30021883,
       -3255.19190892,  5170.32588751, 22266.72718476, 23984.01984889,
        8322.06749695,  -985.12891941,  4350.05058136,  8014.29335371,
       12753.47340651, 22415.61821043, 25359.27237964,  5987.49023802,
       22875.52685009,  6972.50873418,  9107.06199854,  4286.9931125 ,
        7983.68844667,  4857.7774791 ,  7736.28654243, 18123.76619521,
        1323.62215351,  4664.03189624,  5564.77441182,  6553.44978755,
        6339.12309103,  9017.99007861, 28975.03289546, 28271.06860483,
        9526.29065018, 16373.74674937, 14253.8297852 ,  6120.77764119,
       10084.11900523,  8154.56473486, 26347.35445375,  5566.08269581,
        9411.29172881,   573.11189538, 22667.69216907,  6103.45802675,
       22497.85386306,  6164.26538092, -1618.14664659, 12917.85675054,
        2162.73415175,  7498.69658857, 36014.96648866, -3274.73601511,
        8228.07836092,  5282.83523157, 14917.71516849,  2669.48431098,
        8076.96923459,  8467.06737007, 24014.72145064,  7987.03386221,
       22642.00406833, 15500.73261093,  6279.85500545,  9039.2160529 ,
       -3466.92268451,  6766.74711733,  -202.42338856,  9724.36424434,
       17988.31909978, 13533.65972965,  6302.92934285, 14590.69315814,
        6410.38155418,  6544.22904239,  3543.04356727,  1817.04581741,
        2646.75470611, 13854.17103508,  6575.47069513,  4695.41205735,
       17611.83513399, 11208.92916005, 18137.45510094, 13811.10840632,
        4577.22986188, -2721.11240835,  7018.76180796, 11251.10234214,
        5364.39478752,  6858.75217676,  9700.51708253,  5957.10378763,
        7374.74929475,  1740.07594346,  7127.25353241, 16819.35185481,
       -2335.63600838,  8122.7774857 ,  6040.48597566,  8222.89181347,
       15053.81075055,  3855.50953061, 29803.20701387, 14477.09251378,
       14472.75091048,  9320.62915906])

In [79]:
from sklearn.metrics import r2_score
r_score = r2_score(y_test,y_pred)

In [80]:
r_score

0.4446061033869477

In [50]:
#import pickle
filename = "SVR_model_poly.sav"
pickle.dump(regressor,open(filename,"wb"))